<nav class="navbar navbar-expand-sm bg-dark fixed-top navbar-dark mb-3">
    <div class="container">
        <a class="navbar-brand">Assignment</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navMenu" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a [routerLink]="['/home']" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a (click)="logOutUser()" class="nav-link">Logout</a>
                </li>
                
            </ul>
        </div>
    </div>
  </nav>

  <section id="home-section">
      <div class="dark-overlay">
          <div class="container home">
              <div class="row">
                  <div class="col-lg-8 d-lg-block">
                      <h1 class="display-4">Build social profiles  <strong>{{loggedUser.FullName }}</strong>
                         &nbsp; <strong>profits</strong></h1>
                      <div class="d-flex">
                          <div class="p-4 align-self-start">
                              <i class="fa fa-check-square-o"></i>
                          </div>
                          <div class="p-4 align-self-end">
                              Push yourself, because no one else is going to do it for you.
                          </div>
                      </div>
                      <div class="d-flex">
                          <div class="p-4 align-self-start">
                              <i class="fa fa-check-square-o"></i>
                          </div>
                          <div class="p-4 align-self-end">
                              Push yourself, because no one else is going to do it for you.
                          </div>
                      </div>

                  </div>
                  
              </div>
          </div>
      </div>

  </section>